# dotenv files
.env

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio / Rider / VS Code
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results
[Tt]est[Rr]esult*/
*.trx

# NuGet
*.nupkg
*.snupkg
.nuget/

# macOS
.DS_Store
